body {
    background-color: #F5F5F5;
}
@font-face {
    font-family: 'Lato', sans-serif;
    src: url('http://domain.com/fonts/font.ttf')  format('truetype'); 
}
div.wrap {
    width: 80%;
    margin-left: 2em;
    display: inline-block;
}
div.wrapAbout {
    margin-left: 2em;
}
img {
    margin-left: 2em;
    padding-right: 20px;
    padding-top: 20px;
}
table {
    border-collapse: collapse;
    width: 100%;
}

.right{
    float:right;
}

.left{
    float:left;
}


b {font-weight: bold}
h1 {
	font-family: Lato;
	font-size: 28px;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	line-height: 24px;
}
.topLine {
	font-family: Lato;
	font-size: 48px;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	line-height: 24px;
}

h3 {
	font-family: Lato;
	font-size: 18px;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	line-height: 10px;
    margin: 8px;
}
p {
	font-family: Lato;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 23px;
}
td {
	font-family: Lato;
	font-size: 14px;
    text-align: left;
    padding: 8px;
    border-left: 1px solid #ddd;
}
blockquote {
	font-family: Lato;
	font-size: 17px;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	line-height: 23px;
}
pre {
	font-family: Lato;
	font-size: 12px;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	line-height: 23px;
}
.container {
    overflow: hidden;
    background-color: #003262;
    color: #FDB515;
    padding: 0px;
    width: 90%;
    margin-left: 2em;
    margin-right: 1%;
    font-size: 16px;
    font-family: Lato;
}

.container a {
    float: left;
    font-size: 16px;
    color: #FDB515;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    cursor: pointer;
    font-size: 16px;    
    border: none;
    outline: none;
    color: #FDB515;
    padding: 14px 16px;
    background-color: inherit;
}

.container a:hover, .dropdown:hover .dropbtn {
    background-color: #FDB515;
        color: #003262;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #FDB515;
    font-family: Lato;
    color: #003262;
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: #003262;
    padding: 10px 12px;
    text-decoration: none;
    font-family: Lato;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #F5F5F5;
    font-family: Lato;
}

.show {
    display: block;
}

.footer {
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0.5rem;
  background-color: #c4c4c4;
  text-align: center;
}